---
// #Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body { font-size: 18px; }
.site-title { font-weight: 700; }
.page-link { text-transform: uppercase; }
